
.scorm-player {
  display: flex;
  flex-direction: column;
  align-items: center;

  .status-info {

  }

  .iframe-container {
    width: 100%;
    height: 100%;
    iframe {
      width: calc(100% - 4px);
      height: 100vh;
    }
  }

  .status-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      min-width: 220px;
    }
  }
}
